@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
  
    <li class="dropdown">
        <a class="nav-link dropdown-toggle link-primary" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @User.Identity.GetUserName()
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="@Url.Action("Mine","Gigs")">My Upcoming Gigs</a> </li>
            <li><a class="dropdown-item" href="@Url.Action("Index","Manage")">Account</a> </li>
            <li><a class="dropdown-item" href="@Url.Action("Attending","Gigs")">Gigs I'm Going</a></li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    </li> 
</ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
